body{
    text-align: center;
    font: normal 15pt Arial;
    background-color: #8a8af7;
}

section{
    height: 600px;
    width: 50%;
    background-color: #ffffff;
    margin: auto;
    border-radius: 10px;
    padding: 5px 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.747);
}
footer{
    margin: 20px 0px;
}
p{
    color: #1d1b35;
}